:root {
    --nav_bar_height: 3em;
    --seconday_bar_height: 2em;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--bg);
    color: var(--fg0);
    margin: 0;
}

body a:link {
    color: var(--fg0);
    text-decoration: none;
}

body a:visited {
    color: var(--fg0);
}

body a:hover {
    color: var(--secondary);
}

header {
    display: block;
    width: 100%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: var(--nav_bar_height);
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header-bar {
    background-color: var(--primary);
}

.header-padding {
    width: 1em;
}

#header-logo {
    margin-right: auto;
    padding-left: .5em;
    font-size: xx-large;
}

.header-link {
    padding: 0 .5em;
}

.text-link {
    font-size: large;
}

.header-link > [class^="fa"] {
    font-size: x-large;
}

#main {
    padding: 1em;
}

#secondary-bar {
    background-color: var(--secondary);
    color: var(--bg);
    height: 2em;
    top: 3em;
}

#secondary-bar a:link {
    color: var(--bg);
}

#secondary-bar a:hover {
    color: var(--primary);
}
